body { background: #7d73a9; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 13px; display: flex; }
.block-email-0 { color: #480886; font-size: 19px; margin-bottom: 5px; }
.block-uploader-1 { color: #6ac3f4; font-size: 13px; margin-bottom: 5px; }
.block-config-2 { color: #282413; font-size: 15px; margin-bottom: 5px; }
.block-search-3 { color: #b540b5; font-size: 16px; margin-bottom: 5px; }
.block-metrics-4 { color: #87d7da; font-size: 16px; margin-bottom: 5px; }